[package]
name = "untrustended"
version = "0.0.2"
authors = ["Ossi Herrala <oherrala@iki.fi>"]
license = "ISC"

description = "Untrustended - Untrusted Extended. A compilation of primitives for parsing values from untrusted input."
homepage = "https://github.com/oherrala/untrustended#readme"
repository = "https://github.com/oherrala/untrustended"
documentation = "https://docs.rs/untrustended/"
readme = "README.md"
keywords = ["untrusted", "input", "parsing", "primitives"]
categories = ["parsing", "parser-implementations"]

[badges]
circle-ci = { repository = "oherrala/untrustended" }

[dependencies]
untrusted = "0.5.0"

[dev-dependencies]
byteorder = "1.1.0"
quickcheck = "0.4.1"
